@import "scss/variables";

$navbar-height: $line-height * $font-size-base + 2rem;
$banner-aspect-ratio: 630px / 1200px;
$banner-max-height: 30rem;
$banner-max-width: $banner-max-height / $banner-aspect-ratio;
$banner-min-height: 15rem;
$banner-min-width: $banner-min-height / $banner-aspect-ratio;

.banner {
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: $brand-dark;
    min-height: $banner-min-height;

    white-space: nowrap;
    font-size: 0;

    .banner-overlay {
        white-space: normal;
        font-size: 1rem;
    }

    &:before {
        content: "";
        padding-bottom: percentage($banner-aspect-ratio);
        display: inline-block;
        vertical-align: middle;
    }

    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.banner-image {
    position: absolute;
    left: 0;
    top: 0;
    min-width: $banner-min-width;
    min-height: 100%;
    width: 100%;
}

@media (max-width: ceil($banner-min-width / 1rem * 16px)) {
    .banner-image {
        left: 50%;
        margin-left: -$banner-min-width / 2;
        margin-right: -$banner-min-width / 2;
    }
}

@media (min-width: floor($banner-max-width / 1rem * 16px)) {
    .banner:before {
        padding-bottom: $banner-max-height;
    }

    .banner-image {
        margin: percentage(-$banner-aspect-ratio / 2) 0 0;
        border-top: solid transparent $banner-max-height / 2;
    }
}

.banner-overlay {
    display: inline-block;
    vertical-align: bottom;
    text-align: left;
    width: 100%;
    padding-bottom: 1rem;
    position: relative;
    padding-top: $navbar-height;
    pointer-events: none;

    .banner-overlay-content {
        pointer-events: auto;
    }
}