@import "scss/variables";

$navbar-height: $line-height * $font-size-base + 2rem;
$banner-max-height: 25rem;
$banner-aspect-ratio: 1 / 1.91;

.banner {
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: $brand-dark;

    white-space: nowrap;
    font-size: 0;

    .banner-overlay {
        white-space: normal;
        font-size: 1rem;
    }

    &:before {
        content: "";
        padding-bottom: percentage($banner-aspect-ratio);
        display: inline-block;
        vertical-align: middle;
    }

    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.banner-image {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50%;
    margin-right: -50%;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
}

.banner-overlay {
    display: inline-block;
    vertical-align: bottom;
    text-align: left;
    width: 100%;
    padding-bottom: 1rem;
    position: relative;
    padding-top: $navbar-height;
    pointer-events: none;

    .banner-overlay-content {
        pointer-events: auto;
    }
}

@media (min-width: ($banner-max-height / $banner-aspect-ratio / 1rem * 16px)) {
    .banner:before {
        padding-bottom: $banner-max-height;
    }

    .banner-image {
        height: auto;
        width: 100%;
        margin-top: percentage($banner-aspect-ratio / -2);
        border-top: solid transparent $banner-max-height / 2;
    }
}