@import "scss/variables";
@import "bower_components/bootstrap/scss/navbar";
@import "bower_components/bootstrap/scss/nav";

$site-shadow-size: 1rem / 4;
$site-shadow-color: fade-out(black, 0.8);
$navbar-height: $line-height * $font-size-base + 2rem;

.navbar-cover {
    position: absolute;
    width: 100%;
    z-index: $zindex-navbar;
}

.navbar-cover-bg {
    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 100%;
        // ie 9 & 10 supposedly do not support rem in pseudo elements
        height: $navbar-height / 1rem * 1em;
        width: 100%;
        pointer-events: none;
    }

    $gradient-color: mix($brand-primary, black, 14%);
    @include gradient-vertical(fade-out($gradient-color, 0.67), fade-out($gradient-color, 1));
    background-color: fade-out($gradient-color, 0.75);

    &:after {
        @include gradient-vertical(fade-out($gradient-color, 0.75), fade-out($gradient-color, 1));
    }
}

// workaround until bootstrap has a working container
.navbar-container {
    padding-left: 0;
    padding-right: 0;
}

body,
.site-footer {
    background-color: $body-dark-bg;
}

.site-header {
    background-color: $brand-primary;
    @include gradient-directional(darken($brand-primary, 20%), $brand-primary, -10deg);
    text-shadow: 0 0 2rem rgba(0, 0, 0, .7);
}

.site-content {
    position: relative;
    z-index: 1;
    // box-shadow: 0 0 $site-shadow-size $site-shadow-color;
    min-height: 20rem;
    background-color: $body-bg;
    overflow: hidden;
}

.site-section {
    padding-top: $spacer-y;
    padding-bottom: $spacer-y;
}

.main-page-nav {
    float: right;
}

.site-footer {
    min-height: 10rem;
    font-size: 95%;
}

.footer-segment {
    margin-top: $spacer-y * 2;

    @include make-col();
    @include make-col-span(12);

    @include media-breakpoint-up(sm) {
        &.footer-navigation-segment {
            @include make-col-span(6);
        }
    }

    @include media-breakpoint-up(md) {
        &, &.footer-navigation-segment {
            @include make-col-span(4);
        }
    }

    .nav-stacked .nav-link {
        margin: 0 $grid-gutter-width / -2;
        padding: .5rem $grid-gutter-width / 2;
    }
}

$shape-offset: 4vw;
$shape: polygon(0 0, 100% $shape-offset, 100% 100%, 0 calc(100% - #{$shape-offset}));
// $shape: polygon(0 $shape-offset, 100% 0, 100% calc(100% - #{$shape-offset}), 0 100%);
@supports (clip-path: $shape) and (shape-outside: $shape) {
    .site-content {
        clip-path: $shape;
        margin-top: -$shape-offset;
        margin-bottom: -$shape-offset;
    }

    .site-section {
        margin-top: $shape-offset / 2;
    }

    .site-footer, .site-content {
        &::before {
            content: "";
            display: block;
            padding-top: $shape-offset;
            width: 100%;
            shape-outside: polygon(0 0, 100% 0, 100% 100%);
            shape-margin: $spacer-y;
            float: right;
        }
    }

    .banner, .navbar-standalone, .site-content {
        > .container:last-child::after {
            content: "";
            display: block;
            padding-top: $shape-offset / 2vw * 1%;
            padding-bottom: $shape-offset / 2;
        }
    }
}
