@import "scss/variables";
@import "scss/image";

$list-item-padding: 1rem;
$list-item-headline-size: 1.4rem;
$list-item-headline-margin: 0.25rem;
$list-item-mobile-image-size: 3rem;
$list-item-height: 9rem;
$list-item-desktop-breakpoint: md;

.post-list-inner {
    padding-top: 1rem;
}

.post-list-item {
    margin-bottom: $list-item-padding;
}

.post-banner-item,
.post-list-item {
    position: relative;
    min-height: $list-item-height;
    max-width: $paragraph-width;
}

.post-banner-title,
.post-list-title {
    font-size: $list-item-headline-size;
    margin: 0 0 $list-item-headline-margin;
}

.post-banner-image,
.post-list-image {
    display: block;
    position: relative;
    z-index: 1;
    margin-right: $list-item-padding;
    float: left;
    background-color: mix($brand-primary, black, 50%);

    @include image-square-container($list-item-mobile-image-size);
    @include media-breakpoint-up($list-item-desktop-breakpoint) {
        @include image-square-container($list-item-height);
    }

    img {
        @include image-contain;
    }
}

.post-banner-description,
.post-list-description {
    margin-bottom: 0;
}

.post-list-description {
    min-height: $line-height * $font-size-base * 3;
}

.post-banner-footer,
.post-list-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: $font-size-base * ($line-height - 1) * 0.5;

    @include media-breakpoint-up($list-item-desktop-breakpoint) {
        padding-left: $list-item-height + $list-item-padding;
    }
}