@import "scss/variables";
@import "scss/image";

$list-item-padding: 1rem;
$list-item-headline-size: $font-size-base * $line-height / $headings-line-height;
$list-item-mobile-image-size: $list-item-headline-size * $headings-line-height * 2;
$list-item-height: 6rem;
$list-item-footer-height: $line-height * $font-size-xs;
$list-item-desktop-breakpoint: md;

.post-list-inner {
    padding-top: 1rem;
}

.post-list-item {
    margin-bottom: $list-item-padding;
}

.post-banner-item,
.post-list-item {
    position: relative;
    display: inline-block;
    min-height: $list-item-height;
    max-width: $paragraph-width;
    padding-bottom: $line-height * $font-size-base;
}

.post-banner-title,
.post-list-title {
    margin: 0;
    font-size: $list-item-headline-size;
    line-height: $headings-line-height;
}

.post-banner-image,
.post-list-image {
    display: block;
    position: relative;
    z-index: 1;
    float: left;
    overflow: hidden;
    background-color: $brand-dark;

    width: $list-item-mobile-image-size;
    height: $list-item-mobile-image-size;
    $line-height-margin: $list-item-headline-size * $headings-line-height - $list-item-headline-size;
    margin-right: $line-height-margin * 2;

    @include media-breakpoint-up($list-item-desktop-breakpoint) {
        width: $list-item-height;
        height: $list-item-height;
        margin-right: $list-item-padding;
        margin-bottom: -$line-height * $font-size-base;
    }
}

.post-banner-description,
.post-list-description {
    margin-bottom: 0;

    @include media-breakpoint-up($list-item-desktop-breakpoint) {
        height: $font-size-base * $line-height * 2;
        padding-left: $list-item-height + $list-item-padding;
    }
}

.post-banner-footer,
.post-list-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: $list-item-footer-height;
    line-height: $list-item-footer-height;

    @include media-breakpoint-up($list-item-desktop-breakpoint) {
        padding-left: $list-item-height + $list-item-padding;
    }
}