$site-shadow-size: 1rem / 4;
$site-shadow-color: fade-out(black, 0.9);
$dark-bg: darken(#fff, 3%);

// workaround until bootstrap has a working container
.navbar-container {
    padding-left: 0;
    padding-right: 0;
}

body,
.site-header,
.site-footer {
    background-color: $dark-bg;
}

.site-content {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 $site-shadow-size $site-shadow-color;
    min-height: 20rem;
    background-color: $body-bg;
}

.main-page-nav {
    @include pull-right;
}

.site-footer {
    min-height: 10rem;
    font-size: 95%;
}

.footer-segment {
    margin-top: $spacer-y * 2;

    @include make-col();
    @include make-col-span(12);
    @include media-breakpoint-up(sm) {
        @include make-col-span(4);
    }

    .nav-stacked {
        margin: 0 -1rem;
    }
}