$list-item-padding: 1rem;
$list-item-headline-size: $font-size-h3;
$list-item-mobile-image-size: 3rem;
$list-item-height: 9rem;
$list-item-desktop-breakpoint: md;

.post-inner {
    padding-top: $spacer-y;
    padding-bottom: $spacer-y;
}

.post-meta {
    font-size: $font-size-xs;
    color: $text-muted;
}

.post-image {
    margin-bottom: 1rem;
}

.post-footer {
    margin-bottom: 1rem;
}

.post-list-inner {
    padding-top: 1rem;
}

.post-list-item {
    position: relative;
    min-height: $list-item-height;
    margin-bottom: $list-item-padding;
}

.post-list-title {
    font-size: $list-item-headline-size;
}

.post-banner-image,
.post-list-image {
    display: block;
    position: relative;
    z-index: 1;
    margin-right: $list-item-padding;
    float: left;
    background-color: mix($brand-primary, $body-bg, 100%);
    overflow: hidden;

    @include image-square-container($list-item-mobile-image-size);
    @include media-breakpoint-up($list-item-desktop-breakpoint) {
        @include image-square-container($list-item-height);
    }

    .main-image {
        position: relative;
        z-index: 1;
        @include image-contain;
    }

    .backdrop-image {
        $overscale: 60%;
        position: absolute;
        top: -$overscale;
        right: -$overscale;
        min-width: 100% + $overscale * 2;
        min-height: 100% + $overscale * 2;
        opacity: .1;

        $filter: contrast(3) saturate(2) blur(2rem);
        @supports (filter: $filter) {
            filter: $filter;
            opacity: .9;
        }
    }
}

.post-banner-description,
.post-list-description {
    margin-bottom: 0;
}

.post-list-description {
    min-height: $line-height * $font-size-base * 3;
}

.post-list-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: $font-size-base * ($line-height - 1) * 0.5;
    background-color: $body-bg;

    //&:before {
    //    content: "";
    //    position: absolute;
    //    top: -$line-height * $font-size-base * 2;
    //    height: $line-height * $font-size-base * 2;
    //    width: 100%;
    //    @include gradient-vertical(fade-out($body-bg, 1), $body-bg);
    //    pointer-events: none;
    //}

    @include media-breakpoint-up($list-item-desktop-breakpoint) {
        padding-left: $list-item-height + $list-item-padding;
    }
}

.post-banner-header,
.post-banner-description,
.post-banner-footer {
    @include media-breakpoint-up($list-item-desktop-breakpoint) {
        padding-left: $list-item-height + $list-item-padding;
    }
}

#disqus_thread {
    // the disqus thread does not resize on ipad
    width: $paragraph-width;
    max-width: 100%;
    overflow: hidden;
}