$enable-rounded: false;

$grid-gutter-width: 1rem; // just 2 pixels for nice round numbers, i don't unterstand bootstraps default value here

$brand-primary: #D50000;

$font-size-h1: 2rem;
$font-size-h2: 1.7rem;
$font-size-h3: 1.4rem;
$font-size-h4: 1rem;
$font-size-h5: 1rem;
$font-size-h6: 1rem;

$body-color:                 #222;
$body-bg:                    #fff;
$body-dark-bg:               darken($body-bg, 3%);

$link-color:                 $brand-primary !default;
$link-hover-color:           darken($link-color, 15%) !default;
$link-hover-decoration:      none;

$line-height:                1.5 !default;

$font-family-sans-serif:     "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:          Georgia, "Times New Roman", Times, serif;
$font-family-monospace:      Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:           $font-family-sans-serif;

$headings-margin-bottom:     0.5rem;
$headings-font-family:       $font-family-serif;
$headings-font-weight:       100;
$headings-line-height:       1.1;
$headings-color:             darken($body-color, 10%);

$text-muted: fade-out($body-color, 0.6);

@import "../bower_components/bootstrap/scss/variables";
@import "../bower_components/bootstrap/scss/mixins";

$paragraph-width: map_get($container-max-widths, md) - $grid-gutter-width;
