<script>
    if (document.cookie.indexOf('noga=1') < 0) {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-60388424-1', 'auto');
        ga('set', 'anonymizeIp', true);

        // use the canonical url for page tracking if possible
        (function () {
            var canonical = document.querySelector('link[rel="canonical"]');
            var pathname = canonical && canonical.href || location.pathname;
            ga('send', 'pageview', pathname.replace(/^https?\:\/\/[^\/]+\/?/i, '/'));
        })();

        // track copy of code snippets... i'm curious ;)
        ['copy', 'cut'].forEach(function (event) {
            document.addEventListener(event, function (e) {
                var node = e.target;
                while (!/code/i.test(node.nodeName)) {
                    // iterate until there is no parent
                    if (!(node = node.parentNode)) {
                        return;
                    }
                }

                ga('send', 'event', 'Code', 'copy', node.getAttribute('data-lang'));
            }, true);
        });

        // track special links
        document.addEventListener('click', function (e) {
            if (e.defaultPrevented) {
                return;
            }

            var link = e.target;
            while (!/a/i.test(link.nodeName)) {
                // iterate until there is no parent
                if (!(link = link.parentNode)) {
                    return;
                }
            }

            if (link.clickTracked) {
                return;
            }

            var category = (function () {
                var dataCategory = link.getAttribute('data-ga-category');
                if (dataCategory) {
                    return dataCategory;
                }

                return 'link';
            })();

            var action = (function () {
                var dataAction = link.getAttribute('data-ga-action');
                if (dataAction) {
                    return dataAction
                }

                // javascript links aren't really links
                if (/^javascript\:/i.test(link.href)) {
                    return null;
                }

                // every link that does have a file extension other than html or none is considered a download
                if (!/\/([^\.]*|.*\.(html|[^\.]{5,}))(\?.*)?$/i.test(link.href)) {
                    return 'download';
                }

                // internal links (other than downloads) are not interesting
                if (link.host === location.host) {
                    return null;
                }

                if (/^mailto\:/i.test(link.href)) {
                    return 'mail';
                }

                if (/^tel:/i.test(link.href)) {
                    return 'call'
                }

                if (link.host && link.host !== location.host) {
                    return 'external'
                }

                return 'click';
            })();

            var label = (function () {
                var dataLabel = link.getAttribute('data-ga-label');
                if (dataLabel) {
                    return dataLabel;
                }

                if (/^(tel|mailto)\:/i.test(link.href)) {
                    return href.replace(/^(mailto|tel)\:\s*/, '');
                }

                // if everything fails use href
                return link.href;
            })();

            var valid = category && action && label;
            if (!valid) {
                return;
            }

            e.preventDefault();

            // functions for actual click
            var hitCallbackExecuted = false;
            var hitCallback = function () {
                if (hitCallbackExecuted) {
                    return;
                }

                link.clickTracked = true;
                link.click();
                hitCallbackExecuted = true;
            };

            ga('send', 'event', category, action, label, {hitCallback: hitCallback});
            setTimeout(hitCallback, 1000);

            // start prefetch of links
            if (link.host) {
                // prerender is most useful but has least browser support
                // prefetch is still useful and widely supported
                ['prerender', 'prefetch'].forEach(function (rel) {
                    var hint = document.createElement('link');
                    hint.rel = rel;
                    hint.href = link.href;
                    document.head.appendChild(hint);
                });
            }

        }, false);
    }
    // {% if page.include.noga %}
        function noga () {
            var wasntSet = document.cookie.indexOf('noga=1') < 0;
            document.cookie = 'noga=1; expires=Thu, 31 Dec 2099 23:59:59';
            alert("Google Analytics" + (wasntSet ? " " : " war bereits ") + "deaktiviert");
        }
    // {% endif %}
</script>