<header class="site-header">

    <nav class="navbar {{ include.class }} navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                Die <strong>{{ site.title }}</strong>
            </a>
            <ul class="nav navbar-nav main-page-nav">
                {% for page in site.pages %}{% if page.mainnav %}
                <li class="nav-item">
                    {% include internal-link.html page=page class='nav-link' %}
                </li>
                {% endif %}{% endfor %}
            </ul>
        </div>
    </nav>

</header>
