<head>
    <!-- meta important for client -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- realfavicongenerator.net -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#d50000">
    <meta name="msapplication-TileColor" content="#d50000">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#d50000">

    <!-- open graph -->
    <meta property="og:title" content="{% if page.og.title %}{{ page.og.title }}{% else %}{{ page.title }}{% endif %}">
    <meta property="og:type" content="{% if page.og.type %}{{ page.og.type }}{% else %}website{% endif %}">
    <meta property="og:url" content="{% if page.og.url %}{{ page.og.url }}{% else %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% endif %}">
    {% if page.og.image %}{% include image.html image=page.og.image variant='opengraph' %}
    {% elsif page.image %}{% include image.html image=page.image variant='opengraph' %}
    {% endif %}

    <!-- other meta -->
    {% if page.noindex %}<meta name="robots" content="no-index, nofollow">{% endif %}
    <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="{{ page.author }}">
    {% if page.categories %}<meta name="keywords" content="{{ page.categories | join: ', ' }}">{% endif %}
    {% if page.date %}<meta name="date" content="{{ page.date | date_to_rfc822 }}">{% endif %}
    <meta name="revisit-after" content="{{ site.data.changefreq[page.changefreq].revisit_after }}">
    <meta name="generator" content="Jekyll v{{ jekyll.version }}">

    <!-- google analytics -->
    <script>
        if (document.cookie.indexOf('noga=1') < 0) {
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-60388424-1', 'auto');
            ga('set', 'anonymizeIp', true);
            ga('send', 'pageview');

            // track copy of code snippets... i'm curious ;)
            ['copy', 'cut'].forEach(function (event) {
                document.addEventListener(event, function (e) {
                    var node = e.target;
                    while (!/code/i.test(node.nodeName)) {
                        // iterate until there is no parent
                        if (!(node = node.parentNode)) {
                            return;
                        }
                    }

                    var language = (node.getAttribute('data-lang') + '').toLowerCase();
                    ga('send', 'event', 'Code', 'copy', language);
                }, true);
            });

            // track special links
            document.addEventListener('click', function (e) {
                if (e.defaultPrevented) {
                    return;
                }

                var link = e.target;
                while (!/a/i.test(link.nodeName)) {
                    // iterate until there is no parent
                    if (!(link = link.parentNode)) {
                        return;
                    }
                }

                if (link.clickTracked) {
                    return;
                }

                var category = (function () {
                    var dataCategory = link.getAttribute('data-ga-event-category');
                    if (dataCategory) {
                        return dataCategory;
                    }

                    return 'link';
                })();

                var action = (function () {
                    var dataAction = link.getAttribute('data-ga-event-action');
                    if (dataAction) {
                        return dataAction
                    }

                    if (link.host !== location.host) {
                        return 'external'
                    }

                    if (/^mailto\:/i.test(link.href)) {
                        return 'mail';
                    }

                    if (/^tel:/i.test(link.href)) {
                        return 'call'
                    }

                    if (!/\/([^\.]*|.*\.(x?htm.?|asp.?|.{5,}))(\?.*)?$/i.test(link.href)) {
                        return 'download';
                    }

                    if (link.host === location.host) {
                        return null;
                    }

                    return 'click';
                })();

                var label = (function () {
                    var dataLabel = link.getAttribute('data-ga-event-label');
                    if (dataLabel) {
                        return dataLabel;
                    }

                    if (/^(tel|mailto)\:/i.test(link.href)) {
                        return href.replace(/^(mailto|tel)\:\s*/, '');
                    }

                    // if everything fails use href
                    return link.href;
                })();

                e.preventDefault();
                console.log('click started');
                ga('send', 'event', category, action, label, {
                    hitCallback: function () {
                        console.log('click ended');
                        link.clickTracked = true;
                        link.click();
                    }
                });

            }, false);
        }
    </script>
    {% if page.include.noga %}
    <script>
        function noga () {
            var wasntSet = document.cookie.indexOf('noga=1') < 0;
            document.cookie = 'noga=1; expires=Thu, 31 Dec 2099 23:59:59';
            alert("Google Analytics" + (wasntSet ? " " : " war bereits ") + "deaktiviert");
        }
    </script>
    {% endif %}

    <!-- external resources -->
    <link rel="stylesheet" href="{{ '/resources/main.css' | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">
</head>
