{% case include.variant %}

{% when 'thumbnail' %}
<img src="{% include image/src.html image=include.image variant='144' %}"
     srcset="{% include image/srcset.html image=include.image sizes='48, 96, 144, 192, 288, 432' %}"
     sizes="(min-width: 48em) 9rem, 3rem"
     alt="{{ include.alt }}"
     {{ include.attr }}>

{% when 'banner' %}
<img src="{% include image/src.html image=include.image variant='1080' %}"
     srcset="{% include image/srcset.html image=include.image sizes='720, 1080, 1440, 1920, 2560' %}"
     sizes="100vw"
     alt="{{ include.alt }}"
     {{ include.attr }}>

{% when 'opengraph' %}
{% assign sizes = '720, 1080' | split: ', ' %}
{% for size in sizes %}
<meta property="og:image" content="{{ site.image_url }}{% include image/src.html image=include.image variant=size %}">
<meta property="og:image:width" content="{{ size }}">
{% endfor %}

{% when 'enclosure' %}
<enclosure length="0" type="image/jpeg" url="{% include image/src.html absolute=true image=include.image variant='432' %}"/>

{% else %}
<p class="image-paragraph">
    <img src="{% include image/src.html image=include.image variant='inline' %}" alt="{{ include.alt }}" {{ include.attr }}>
</p>

{% endcase %}
