<div class="post-meta">
    {% if include.post.date %}
    <time class="post-meta-entry post-date" itemprop="datePublished" datetime="{{ include.post.date | date_to_xmlschema }}">
        {{ include.post.date | date_to_long_string }}
    </time>
    {% endif %}
    {% if include.comments %}
    <span class="post-meta-entry disqus-comment-count" data-disqus-identifier="{{ include.post.url }}"></span>
    {% endif %}
    {% if include.post.author and include.detailed %}
        {% assign author=site.data.authors[include.post.author] %}
        <span class="post-meta-entry post-author" itemprop="author" itemscope itemtype="http://schema.org/Person">
            von <span itemprop="name">{{ author.name }}</span>
            {% if author.email %}<meta itemprop="email" content="{{ author.email }}">{% endif %}
            {% if author.twitter %}<meta itemprop="url" content="https://twitter.com/{{ author.twitter }}">{% endif %}
            {% if author.github %}<meta itemprop="url" content="https://github.com/{{ author.github }}">{% endif %}
            {% if author.website %}<meta itemprop="url" content="{{ author.website }}">{% endif %}
        </span>
    {% endif %}
    {% if include.post.lastmod > include.post.date %}
    <meta itemprop="dateModified" content="{{ include.post.lastmod | date_to_xmlschema }}">
    {% endif %}
</div>