.banner {
    position: relative;
    text-align: center;
    overflow: hidden;

    &:before {
        content: "";
        padding-bottom: percentage(9 / 21);
        display: inline-block;
        vertical-align: middle;
    }

    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.banner-image {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50%;
    margin-right: -50%;
    height: 100%;
}

.banner-overlay {
    display: inline-block;
    vertical-align: bottom;
    text-align: left;
    width: 100%;
    padding-top: $line-height * $font-size-base + 2rem;
    padding-bottom: 1rem;
    position: relative;
}

.cover-banner {
    background-color: $brand-primary;
    @include gradient-directional(darken($brand-primary, 20%), $brand-primary, -10deg);
    text-shadow: 0 0 2rem rgba(0, 0, 0, .4);
    color: white;

    a,
    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 {
        color: inherit;
    }

    .banner-image {
        opacity: .1;
    }
}

.navbar-cover {
    position: absolute;
    z-index: 2;
    width: 100%;
    text-shadow: 0 0 2rem black;
}

.navbar-cover-bg {
    @include gradient-vertical(rgba(0, 0, 0, .5), rgba(0, 0, 0, .25));

    &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: - $line-height * $font-size-base;
        width: 100%;
        height: $line-height * $font-size-base;
        @include gradient-vertical(rgba(0, 0, 0, .25), rgba(0, 0, 0, 0));
        pointer-events: none;
    }
}