$list-item-height: 8rem;
$list-item-padding: .5rem;
$list-item-headline-size: $font-size-h3;
$list-item-mobile-image-size: ($list-item-headline-size * $headings-line-height * 2) + $headings-margin-bottom;
$list-item-desktop-breakpoint: md;

.post-inner {
    padding-top: $spacer-y;
    padding-bottom: $spacer-y;
}

.post-meta {
    font-size: $font-size-xs;
    color: $text-muted;
}

.post-image {
    margin-bottom: 1rem;

    img {
        display: block;
        width: 100%;
    }
}

.post-footer {
    margin-bottom: 1rem;
}

.post-list-item {
    position: relative;
    height: $list-item-height;
    overflow: hidden;
    margin-bottom: $grid-gutter-width / 2;

    h1 {
        font-size: $list-item-headline-size;
    }
}

.post-list-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $body-bg;

    //&:before {
    //    content: "";
    //    position: absolute;
    //    top: -$line-height * $font-size-base * 2;
    //    height: $line-height * $font-size-base * 2;
    //    width: 100%;
    //    @include gradient-vertical(fade-out($body-bg, 1), $body-bg);
    //    pointer-events: none;
    //}

    @include media-breakpoint-up($list-item-desktop-breakpoint) {
        padding-left: $list-item-height + $list-item-padding;
    }
}

.post-list-image {
    display: block;
    position: relative;
    z-index: 1;
    margin-right: $list-item-padding;
    float: left;
    background-color: mix($brand-primary, $body-bg, 100%);
    overflow: hidden;

    @include image-square-container($list-item-mobile-image-size);
    @include media-breakpoint-up($list-item-desktop-breakpoint) {
        @include image-square-container($list-item-height);
    }

    .main-image img {
        position: relative;
        z-index: 1;
        @include image-contain;
    }

    .backdrop-image img {
        $overscale: 60%;
        position: absolute;
        top: -$overscale;
        right: -$overscale;
        min-width: 100% + $overscale * 2;
        min-height: 100% + $overscale * 2;
        opacity: .1;

        $filter: contrast(3) saturate(2) blur(2rem);
        @supports (filter: $filter) {
            filter: $filter;
            opacity: .7;
        }
    }
}