---
title:      Blog der Marco Zone
layout:     bare
changefreq: weekly
permalink:  /
redirects:
    - path: /index
    - path: /index.html
page_styles:
    - /layout.css
    - /basic-banner.css
    - /cover-banner.css
    - /post-list.css
    - /post-meta.css
---
{% include header.html class='navbar-cover' %}

<main class="post-list" itemscope itemtype="http://schema.org/Blog">

    {% for post in site.posts limit: 1 %}
    <div class="banner cover-banner" itemprop="blogPost"
         itemscope itemtype="http://schema.org/BlogPosting">
        <a href="{{ post.url | prepend: site.baseurl }}" tabindex="-1">
            {% include image.html image=post.image variant='banner' attr='class="banner-image"' %}
        </a>
        <div class="container banner-overlay">
            <article class="post-banner-item banner-overlay-content">

                <header class="post-banner-header">
                    <h1 class="post-banner-title" itemprop="headline">
                        <a href="{{ post.url | prepend: site.baseurl }}">
                            <span class="post-banner-image">
                                {% include image.html image=post.image variant='thumbnail' attr='itemprop="image"' %}
                            </span>
                            <span itemprop="headline">
                                {{ post.title }}
                            </span>
                        </a>
                    </h1>
                </header>

                {% if post.description %}
                <p class="post-banner-description" itemprop="description">
                    {{ post.description | strip_html | strip_newlines | truncate: 160 }}
                </p>
                {% endif %}

                <footer class="post-banner-footer">
                    {% include post-meta.html post=post author=false %}
                </footer>
            </article>
        </div>
    </div>
    {% endfor %}

    <div class="site-content">

        <div class="container">
            <div class="post-list-inner">
                {% for post in site.posts offset: 1 %}
                <article class="post-list-item" itemprop="blogPost"
                         itemscope itemtype="http://schema.org/BlogPosting">

                    <header class="post-list-header">
                        <h1 class="post-list-title">
                            <a href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
                                <span class="post-list-image">
                                    {% include image.html image=post.image variant='thumbnail' attr='itemprop="image"' %}
                                </span>
                                <span itemprop="headline">
                                    {{ post.title }}
                                </span>
                            </a>
                        </h1>
                    </header>

                    {% if post.description %}
                    <p class="post-list-description" itemprop="description">
                        {{ post.description | strip_html | strip_newlines | truncate: 160 }}
                    </p>
                    {% endif %}

                    <footer class="post-list-footer">
                        {% include post-meta.html post=post author=false %}
                    </footer>

                </article>
                {% endfor %}

                <p class="rss-subscribe">
                    subscribe <a href="{{ '/feed.xml' | prepend: site.baseurl }}">via RSS</a>
                </p>
            </div>
        </div>

    </div>
</main>

{% include footer.html %}