---
layout_styles: []
---
<!DOCTYPE html>
<html lang="{{ page.language }}" prefix="og: http://ogp.me/ns#">

    <head>

        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width,minimum-scale=1">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-capable" content="yes">

        {% include head/favicons.html %}
        {% include head/meta.html %}

        <!--suppress CssInvalidImport -->
        <style>
            @import url("/resources/base.css");
            @import url("/resources/layout.css");
            {% case page.layout %}
            {% when 'post' %}
            @import url("/resources/basic-banner.css");
            @import url("/resources/post-detail.css");
            @import url("/resources/post-meta.css");
            @import url("/resources/syntax-highlighting.css");
            {% endcase %}

            {% for path in page.page_styles %}
            @import url("{{ path | prepend: '/resources' }}");
            {% endfor %}

            {{ page.style }}
        </style>

        <link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
        {% assign feed_url = '/feed.xml' | prepend: site.baseurl | prepend: site.url %}
        <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ feed_url }}">

    </head>

    <body>

        {{ content }}

        <script src="resources/main.js" async></script>
    </body>

</html>
