---
layout_styles: []
---
<!DOCTYPE html>
<html lang="{{ page.language }}" amp>

    <head>

        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <meta name="format-detection" content="telephone=no">

        <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
        <style>body {opacity: 0}</style><noscript><style>body {opacity: 1}</style></noscript>
        <script async src="https://cdn.ampproject.org/v0.js"></script>

        <!--suppress CssInvalidImport -->
        <style amp-custom>
            @import url("/resources/base.css");
            @import url("/resources/layout.css");
            {% case page.layout %}
            {% when 'post' %}
            @import url("/resources/basic-banner.css");
            @import url("/resources/post-detail.css");
            @import url("/resources/post-meta.css");
            @import url("/resources/syntax-highlighting.css");
            {% endcase %}

            {% for path in page.page_styles %}
            @import url("{{ path | prepend: '/resources' }}");
            {% endfor %}

            {{ page.style }}
        </style>

        {% include head/favicons.html %}
        {% include head/meta.html %}

        <link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
        {% assign feed_url = '/feed.xml' | prepend: site.baseurl | prepend: site.url %}
        <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ feed_url }}">

    </head>

    <body>

        {{ content }}

        <amp-analytics type="googleanalytics" id="analytics">
            <script type="application/json">{{ site.data.analytics | jsonify | replace:'[title]',page.title }}</script>
        </amp-analytics>

    </body>

</html>
